.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px 8px 8px 10px;
    width: 125px;
    margin: 0px;
    margin-left: 40px; 
    margin-right:60px;
  }
  .wd-navigation li {
    display: block;
    cursor: pointer;  
    /*padding-left: 10px;*/
    padding: 8px 0px 8px 8px; 

    /*padding-top: 10px;
    padding-bottom: 10px;*/
  }

  .wd-navigation li:hover {
    text-decoration: underline;
    color: #B52828;
  }

  .wd-navigation li.wd-active {
    border-left: 2px solid black;
  }
  .wd-navigation li.wd-active:hover {
    text-decoration: underline;
    color: black;
  }
  .wd-navigation li.wd-active a {
    color: black;
  }

  .wd-navigation li.wd-active a:hover {
    text-decoration: underline;
    color: black;
  }
  .wd-navigation a {
    color: #B52828;
    text-decoration: none;
  }
  