.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.group-button {
  font-size: 16px;
  font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2d3b45;
  background: #F5F5F5;
  border-width: 1px; 
  border-color: #c7cdd1; 
  padding: 9px 9px;
  cursor: pointer; 
  transition: .2s;
  border-radius: 3px;
  margin: 2px; 
}

#Publish {
  font-size: 16px;
  font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #2d3b45;
  background: #F5F5F5;
  border-width: 1px; 
  border-color: #c7cdd1; 
  padding: 9px 9px;
  cursor: pointer; 
  transition: .2s;
  border-radius: 3px;
  margin: 2px; 
}

#module-button {
  background: #D41B2C;
  color: white;
}

.module-div {
  margin-right: 50px;
}