.card-title {
    text-decoration: none; color: navy; font-weight: bold
}

.card-text-top {
    color:#677179; font-size:18px; margin: 0px; margin-top:15px;
}

.card-text-bottom {
    color:#677179; font-size:16px; margin: 0px;
}

.p-3 {
    margin-left: 100px;
}

.courses-rows {
    align-items: end;
}

.btn-primary {
    background-color: transparent;
    color: gray;
    border: none;
}

.row {
    align-items: right;
}


.editing-dashboard-button {
    font-size: 16px;
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #2d3b45;
    background: #F5F5F5;
    border-width: 1px; 
    border-color: #c7cdd1; 
    padding: 9px 9px;
    cursor: pointer; 
    transition: .2s;
    border-radius: 3px;
    margin: 2px; 
  }
