.published-bar {
    text-align: right;
    color: green;
    font-size: 17px;
}

.button-edit {
    font-size: 16px;
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #2d3b45;
    background: #F5F5F5;
    border-width: 1px; 
    border-color: #c7cdd1; 
    padding: 9px 9px;
    cursor: pointer; 
    transition: .2s;
    border-radius: 3px;
    margin: 2px; 
}

.bottom-bar-edit {
    justify-content: space-between;
}

#button-edit-save {
    background-color:#D41B2C;
    color:white; 

}

.form-control {
    margin-top:10px;
    margin-bottom:10px;
}

.col-3 {
    padding: 0px;
    padding-top:25px;
    text-align:right; 
}

.row {
    justify-content: center;
}